body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(203, 71%, 93%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    padding: 0 20px;
  }
  
  .menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* Alinhar à direita */
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .menu li a:hover {
    background-color: #ff0000;
    color: #fff;
  }
  
  .logo img {
    margin-top: 10%;
  margin-right: 10px;
  margin-bottom: 5%;
  }
  .parallax-container {
    position: relative;
    height: 90vh; /* Ajuste a altura conforme necessário */
    overflow: hidden;
  }

  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .image-title {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff; /* Cor do título */
font-size: 80px; /* Tamanho do título */
text-align: center;
z-index: 2;
}
  .color-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #5c61ec80; /* Substitua pelo valor da cor desejada */
z-index: 1;
}
  /* faca mais */
.faca-mais .container{
  display: flex;
  align-items: center;
  margin: 1px 0 25px 0;
}
.faca-mais .faca-mais-text{
  width: 50%;
  padding: 0 40px;
  margin: 1px 0 25px 0;
}
.faca-mais .faca-mais-text h3{
  font-size: 45px;
  margin-left: 5rem;
}
.faca-mais .faca-mais-text p{
  margin: 12px 0 25px 0;
  
  font-size: 18px;
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
}
.faca-mais .faca-mais-img{
  width: 35%;
  margin: 2px 0 25px 0;
  border-radius: 50%;
  overflow: hidden;
}
.faca-mais .faca-mais-img img{
  width: 100%;
  margin: 1px 0 25px 0;
  border-radius: 50%;
  overflow: hidden;
}

  .video-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
height: 70vh;
}

.video-title {
font-size: 45px;
text-align: center;
margin-bottom: 20px;
}

.video-container {
display: flex;
justify-content: center;
align-items: center;
}
  footer {
background-color: #85b5ec;
padding: 20px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
  